        

.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(122, 65, 228);
    color:rgb(241, 234, 234);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

body{
    background-color: rgb(152, 187, 240);
}

  h2{
    text-align: center;
}

* {
    box-sizing: border-box;
}