button
{
    background-color:rgb(33, 33, 180);
    color: rgb(15, 13, 13); 
    margin: 2px;
    

}
          
body {
    background-color:#7fffd4

}
.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(122, 65, 228);
    color:rgb(241, 234, 234);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

body{
    background-color: rgb(152, 187, 240);
}

table, th, td {
    border: 1px  rgb(19, 18, 18);
  }

  table, th,td {
   color:rgb(19, 18, 18);
  }
  
  table thead tr td {
   color:rgb(34, 33, 33);
  }

  table{
      margin: 5px;
  }
  h2{
    text-align: center;
}

* {
    box-sizing: border-box;
}