button
{
    background-color:rgb(76, 76, 216);
    color: rgb(248, 237, 237); 
    

}
  
body{
    background-color: rgba(211, 46, 211, 0.808);
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color :rgb(12, 11, 11);
    text-align: center;
}

button
{
    background-color:rgb(33, 33, 180);
    color: rgb(15, 13, 13); 
    margin: 2px;
    

}
          
body {
    background-color:#7fffd4

}
.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(101, 169, 196);
    color:rgb(241, 234, 234);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

body{
    background-color: rgb(228, 130, 187);
}


  h2{
    text-align: center;
}

* {
    box-sizing: border-box;
}