button
{
    background-color:rgb(91, 91, 207);
    color: rgb(250, 242, 242); 
    

}
  

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color:rgb(38, 38, 128);
    text-align: center;
}
table, th, td {
    border: 1px solid rgb(15, 14, 14);
  }
  
  table, th,td {
   color: rgb(240, 236, 236);
  }
  
  table thead tr td {
   color:rgb(121, 4, 121);
  }
  .header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(140, 95, 224);
    color:rgb(19, 17, 17);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}
body{
    background-color: rgb(247, 152, 128);
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}


* {
    box-sizing: border-box;
}